/* botones */

.button-burger {

}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.arrow {
    display: flex;
}
a{
  text-decoration: none ;
  color: white;

}

.column {
    display: flex;
    flex-direction: column;
}


hr{
    margin: 0;
    border: 0;
    background-color: grey;
    height: 1px;
}


.border {
    border-style: solid;
    border-color: transparent;
    border-radius: 20px;
    border-width: 2px;
    padding: 0 20px;
}



/* Logo */


/* Barra de búsqueda */
.search-bar {
    display: flex;   
    margin: 0;
    flex-grow: 0.8;
    max-width: 50vw;
    justify-content: center;   

}

.search-bar input[type="search"] {
    width: 100%;

    padding: 7px 5px;
    border-radius: 4px;
    border: none;
    font-size: 1rem;
}


.hidden{
    display: none;
}



.justify-center {
    justify-content:center;
}

.column a{
    display: flex;
    flex-direction: column;
}

.user-item{
    justify-content: center;
    align-items: center;
    padding: 2%;

}




.product-grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30px,300px));
    gap: 20px;
    padding: 3rem 1rem;
    justify-content: center;


}

.product{
    background: #e0f7fa;
    padding: 20px;
    text-align: center;
    min-height: 400px;  /* alto mínimo */
    border-color: #222;

}


 
main{
    background-color: #FDFDFF;
    min-height: 2000px;
}

.item-section .item .icon{
    background-color: black;
    margin: 10px 10px 10px 10px;
    padding: 20px 20px;
    border-radius: 100%;
    

    

}
.item-section{
    display: flex;
    flex-direction: row;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

footer{
    background-color: #818479;
    min-height: 600px;

}

footer hr {
    background-color: #222;
}

.white{
    color: white;
}

.text-head{
    font-size: large;
    font-weight:800;
}